mat-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--mat-sys-primary);
    background: var(--mat-sys-surface);
    text-decoration: none!important;

    .logo {
        font-weight: bold;
        font-size: 20px;
    }

    nav {
        display: flex;
        gap: 8px;
        text-decoration: none!important;

        a {
            font-weight: 500;
            color: var(--mat-sys-primary);
            background-color: var(--mat-sys-inverse-primary);
            text-decoration: none!important;
        }

        button {
            display: flex;
            gap: 8px;
            color: var(--mat-sys-primary);
            background-color: var(--mat-sys-inverse-primary);
            text-decoration: none!important;
        }

        matButton {
            color: var(--mat-sys-primary);
            background-color: var(--mat-sys-inverse-primary);
        }
    }

}

.active-route {
    color: var(--mat-sys-inverse-primary) !important;
    background-color: var(--mat-sys-primary) !important;
    text-decoration: none !important;
}

// mdc-button mat-mdc-button-base mat-mdc-button mat-unthemed active-route
.mdc-button, mat-mdc-button-base, mat-mdc-button mat-unthemed {
    text-decoration-line: none !important;
}

::ng-deep a {
    text-decoration: none !important;
}
