mat-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--mat-sys-primary);
    background: var(--mat-sys-surface);
    text-decoration: none!important;

    .logo {
        font-weight: bold;
        font-size: 20px;
    }

    nav {
        display: flex;
        gap: 8px;
        text-decoration: none!important;

        a {
            font-weight: 500;
            color: var(--mat-sys-primary);
            background-color: var(--mat-sys-inverse-primary);
            text-decoration: none!important;
        }
    }

}

.active-route {
    color: var(--mat-sys-inverse-primary) !important;
    background-color: var(--mat-sys-primary) !important;
    text-decoration: none !important;
}

::ng-deep a {
    text-decoration: none !important;
}
